<!-- card start here -->
<div class="shadow-lg p-3 mb-3 bg-white rounded">
  <div class="span m-1" style="margin-left: 20%; margin-right:20%;">
    <div class="span">

      <div class="row" style="background-color: #2196f3;">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div>
            <img src="assets/images/photo.png"
              style="height: 280px;; max-width: 280px; overflow-clip-margin: content-box; "
              class="rounded mx-auto d-block mb-5 mt-5 " alt="...">
          </div>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8" id="title" style="text-align: center;">
          <div class="mx-auto" style="margin-top: 100px;">
            <div class="title-block">
              <h2 style="font-weight: 700; color: white;">Malaisamy Krishnamoorthy</h2>
              <P style="font-size: 18px;color: white;">Full Stack Developer</P>
            </div>
            <div class="social-links" style="text-align: center;margin-bottom: 100px;">
              <a href="#" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" target="_blank" title="Facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" target="_blank" title="Instagram">
                <i class="fa fa-instagram "></i>
              </a>
              <a href="#" target="_blank" title="LinkedIn">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="">

        <div class="row" style="margin-top: 30px;">

          <div class=" col-xs-12 col-sm-6 ">
            <div class="fw-col-inner" data-paddings="0px 0px 0px 0px">

              <div class="block-title">
                <h3>About<span> Me</span></h3>
              </div>
              <p>
                Seasoned, forward-looking Software Engineer with 1+ year’s background in creating and executing
                innovative software solutions to enhance business productivity. Worked in Agile process and familiar
                with all aspects of the software development.
              </p>
              <a class="btn btn-secondary" data-mtop="15" data-mbottom="0">Download Resume</a>
            </div>
          </div>

          <div class=" col-xs-12 col-sm-6">
            <div class="fw-col-inner" data-paddings="0px 0px 0px 0px">
              <div id="info-list-6451faa89b253" class="info-list">

                <ul class="fw-info-list">
                  <li><span class="title">Age</span>
                    <span class="value">
                      27 </span>
                  </li>
                  <li><span class="title">Residence</span>
                    <span class="value">
                      India </span>
                  </li>
                  <li><span class="title">Address</span>
                    <span class="value">
                      Velachery </span>
                  </li>
                  <li><span class="title">e-mail</span>
                    <span class="value">
                      <a href="mailto:malaisamykv@gmail.com" target="_self">
                        malaisamykv@gmail.com </a>
                    </span>
                  </li>
                  <li><span class="title">Phone</span>
                    <span class="value">
                      +91 8300326766 </span>
                  </li>
                  <li><span class="title">Open to work</span>
                    <span class="value">
                      Yes </span>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>